<context id="siver" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://repast.org/scenario/context">
  	<projection type="continuous space" id="Continuous Space" />
  	<projection type="grid" id="Simple Grid" />
  	<projection type="value layer" id="River Field"></projection>
</context>
